export CLOUDFLARE_API_TOKEN=$(aws ssm get-parameter --name "/day3/dev/cloudflare_api_token" --region eu-north-1 --with-decryption --query Parameter.Value --output text)
export TF_VAR_cloudflare_zone_id=$(aws ssm get-parameter --name "/day3/dev/cloudflare_zone_id" --region eu-north-1 --with-decryption --query Parameter.Value --output text)