server_name = "amin-stg"
server_type = "cx23"
server_image = "ubuntu-24.04"
server_location = "fsn1"

hcloud_token = "<your-hetzner-api-token>"
my_ip        = "<your-ipv4-address>"
cloudflare_zone_id = "<your-cloudflare-zone-id>"
cloudflare_api_token = "<your-cloudflare-api-token>"

dns_record_name = "amin-dns-stg"

ssh_key_name = "amin-staging"
firewall_name = "amin-frw-stg"