server_name = "amin_dev"
server_type = "cx22"
server_image = "ubuntu-24.04"
server_location = "fsn1"

hcloud_token = "opiq_1230912jdoi1j2098u3ej1092ue3"
my_ip        = "127.0.0.1" 
cloudflare_zone_id = "oiudoi12u309812309183231"
cloudflare_api_token = "ikpdo1ie20983019832"

dns_record_name = "amin-dns-dev"

ssh_key_name = "amin_dev"
firewall_name = "amin_frw_dev"